body{
    background-color: black;
}
.h{
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 8px 8px 7px red;
    
  
}

.b{
    display: flex;
    color: white;
   margin: 5px;
   
   
}
 
.fa-toggle-off{
    color: white;
   
}
.b h1{
    margin: 5px;
}

.box{
    width: 380px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 7px 8px black;
    opacity: 3.5;
    margin: auto;
}
.icon{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
.icon a{
    text-decoration: none;
    color: black;
}

.image{
    text-align: center;
    
    
}

img{
    border-radius:50%;
    box-shadow: 5px 4px 4px black;
}

.text{
    text-align: center;
}

.button{
    text-align: center;
    border: 1px solid black;
    margin-left: 140px;
    margin-right: 140px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(24, 24, 238);
   
    

}

.button a{
    text-decoration: none;
    color: white;
    font-weight: 700;
   
}
.instagram{
    width: 50px;
    height: 50px;
    background-color: rgb(218, 67, 157);
    border-radius: 50px;
    box-shadow: 3px 3px 6px rgb(218, 67, 157);
    
}
.fa-instagram{
    margin: 12px;
    font-size: 30px;
    color: black;
    font-weight: 500;
    text-align: center;
    
}
.fa-instagram a{
    text-decoration: none;
}

.facebook{
    width: 50px;
    height: 50px;
    background-color: rgb(106, 0, 255);
    border-radius: 50px;
    box-shadow: 3px 3px 6px rgb(106, 0, 255);
}

.fa-facebook{
    margin: 10px;
    font-size: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
    
}

.fa-facebook a{
    text-decoration: none;
}

.youtube{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 8);
    border-radius: 50px;
    box-shadow: 3px 3px 6px red;
}

.fa-youtube{
    margin: 8.5px;
    font-size: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
    margin-top: 11px;
}
.fa-youtube a{
    text-decoration: none;
}



.main{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    
}
.count{
    display: flex;
    justify-content: space-between;
    margin: 20px;
   
    text-align: center;
}
